@use "@styles/colors" as colors;

.songs {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1.5rem;
  grid-gap: 1.5rem;
  margin: 0 10px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px -4px transparentize(colors.$lightGrey, 0.75);
  }
}