@use "@styles/colors" as colors;

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid colors.$white;
  border-bottom-color: transparent;
  animation: spinnerAnimation 1s infinite linear;
}

@keyframes spinnerAnimation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  } to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}