@use "@styles/colors" as colors;

.form {
  display: flex;
  flex-direction: column;

  &__group {
    @extend .form;
    margin-bottom: 14px;

    &__label {
      align-self: flex-start;
      position: relative;
      z-index: 1;
      font-size: 12px;
      line-height: 14px;
      background-color: colors.$white;
      margin-bottom: -7px;
      margin-left: 12px;
      padding: 0 4px;
    }
  }

  &__additional {
    text-align: right;
    margin-top: -8px;
    margin-bottom: 22px;

    &__link {
      text-decoration: underline;
      font-size: 13px;
      line-height: 18px;
      color: colors.$dark;
    }
  }

  &__input {
    height: 58px;
    font-size: 16px;
    line-height: 22px;
    padding: 18px 16px;
    border-radius: 3px;
    border: 1px solid colors.$lightGrey;
    outline-color: colors.$lightGrey;
    margin-bottom: 8px;
    background-color: colors.$white;
    transition: border-color 0.3s, outline-color 0.3s;

    &:disabled {
      opacity: 0.4;
    }

    &__error {
      border-color: colors.$red;
      outline-color: colors.$red;
    }
  }
}